/* grey: f4f4f4 */
/* teal: 8ec6c5 */
/* blue: 6983aa */
/* purple: 8566aa */

header {
  text-align: center;
}

body {
  /* Override the 750px in the reset */
  max-width: 1000px;
}

header {
  padding-top: 60px;
  border: none;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  font-style: italic;
}

nav {
  margin-top: 40px;
}

.project-grid {
  padding: 0;
  margin: 40px 0 0;
  display: grid;
  /*
  grid-template-columns: 1fr 1fr 1fr;
   */
  grid-template-columns: 1fr;
  justify-items: center;
  grid-auto-rows: 200px;
  column-gap: 20px;
  row-gap: 20px;
}

.project-grid li {
  list-style-type: none;
  height: 180px;
  width: 320px;
}

.project-grid li img {
  position: relative;
  height: 100%;
  width: 100%;
}

a {
  color: #8ec6c5;
  text-decoration: none;
}

nav a + a {
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #8566aa;
}

ul {
  list-style-type: none;
}