<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electability in 2020</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

    <main>
        <h1>Electability in 2020</h1>
        <p>
            By using data from a betting market for political events, we can get an estimate for the 'electability' of candidates.
            Predictit.com offers markets for who will win the Democratic party nomination, and who will win the Presidential election.
            <a href="#">test</a>
        </p>

    {{ bokeh_script | indent(4) | safe }}
    </main>

</body>
</html>
