<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Josh Vieira | Quantitative Researcher</title>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="new.css") }}>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles.css") }}>
</head>
<body>
  <main>
    <header>
      <h1 class="title">Josh Vieira</h1>
      <span class="subtitle">Quantitative Research and Software Development</span>
      <nav>
        <!--0
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        -->
      </nav>
    </header>
    <article>
      <ul class="project-grid">
        <!-- Make a copy of li element for each item on the grid -->

        <li>
          <h4><a href="https://www.joshvieira.com/plot/electability-in-2020">
              What might betting markets tell us about electability?
          </a></h4>
          <a href="https://www.joshvieira.com/plot/electability-in-2020">
            <img
              src={{ url_for('static', filename='edwin-andrade-unsplash.jpg') }}
              alt="What might betting markets tell us about electability?"
            >
          </a>
        </li>
        <br>
        <li>
          <h4><a href={{ url_for('kelly_betting') }}>
              Optimal betting when odds are random
          </a></h4>
          <a href={{ url_for('kelly_betting') }}>
            <img
              src={{ url_for('static', filename='jonathan-greenaway-unsplash.jpg') }}
              alt="Optimal betting when odds are random"
            >
          </a>
        </li>

      </ul>
    </article>
  </main>
</body>
</html>
